.my-p {
    color: red;
    font-size: 40px;
  }
  p{
      font-size: 40px;
  }
  div {
    background-color: red; /* Color Name */
    background-color: rgb(0 0 0 / 50%); /* Red, Green, Blue, Alpha Channel */
    background-color: #FF0000; /* Color Hex Code */
    background-image: url("../imgs/learn-programming.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: auto;
  }
  div {
    background-color: #DDD;
  
    /* Top Right Bottom Left */
    /* 10px 10px 10px 10px */
    /* padding: 10px; */
  
    /* Top Right Bottom Left */
    /* 10px 20px 10px 20px */
    /* padding: 10px 20px; */
  
    /* Top Right Bottom Left */
    /* 10px 20px 15px 20px */
    /* padding: 10px 20px 15px; */
  
    padding-bottom: 10px;
    padding-top: 10px;
  }
  div {
    background-color: #DDD;
    padding: 10px;
    width: 70%;
    margin: auto;
  }
  div {
    background-color: #DDD;
    padding: 10px;
    width: 70%;
    margin: auto;
    border-width: 10px;
    border-color: red;
    border-style: solid;
    border: 10px solid red;
  }
  div {
    background-color: #DDD;
    width: 300px;
    padding: 10px;
    outline: 10px solid red;
    border: 10px solid blue;
  }
  /*

  Block

  - Take Full Width If No Width
  - Add Line Break
  - Respect Padding, Margin, Width, Height

  Inline

  - Do Not Repsepct Width, Height
  - Respect Padding And Margin [ Just Wight + Left ]
  - Do Not Add Line Break
  - Allow Elements Before And After It in The Same Line

  Inline-Block

  - Allow Elements Before And After It in The Same Line
  - Respect Padding, Margin, Width, Height

*/

span {
  background-color: #EEE;
  display: inline-block;
}
div {
  background-color: red;
  margin: 10px 0;
}
.first {
  visibility: hidden;
}
.one {
  border-bottom: 2px solid red;
  color: red;
}
.two {
  border-bottom: 2px solid green;
  color: green;
}
.three {
  border-bottom: 2px solid blue;
  color: blue;
}
.four {
  border-bottom: 2px solid black;
  color: black;
}
.one,
.two,
.three,
.four,
.my-p {
  padding: 15px;
  margin: 12px 0;
  background-color: #ededed;
}
div .special {
  color: red;
}
div {
  background-color: red;
  padding: 10px;
  display: inline-block;
  max-width: 400px;
}
div {
  width: 150px;
  height: 150px;
  background-color: #EEE;
  margin: 20px auto;
  border-radius: 6px;
  overflow: scroll;
} 
/* 17 SHADOW TEXT */
div {
  background-color: #f9f9f9;
  color: rebeccapurple;
  text-shadow: 0 0 0 red;
}
/* 18 - Text – Alignment */
div {
  background-color: #f9f9f9;
  text-align: center;
  direction: ltr;
}
img {
  vertical-align: middle;
}
/* 19 - Text – Decoration And Transform */
div {
  background-color: #f9f9f9;
  text-transform: capitalize;
}
/* 20 - Text – Spacing */
div {
  background-color: #f9f9f9;
  word-spacing: 5px;
}
/* 21 - Text – Overflow And Use Cases */
div {
  background-color: #ddd;
  padding: 10px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div:hover {
  overflow: visible;
}
