    div{
    background-color: rgb(217, 220, 226);
    font-size: xx-large;
    padding: 50px ;
    margin: 30px;
    display: inline-block;
    outline: 5px solid rgb(0, 0, 0);
    }
    .shape1{
    border: 5px solid;
    border-color: red;
   }
   .shape2{
    border: 5px solid;
    border-color:blue green;
   } 
   .shape3{
    border: 5px dashed;
    border-color: red green blue yellow;
    
   }
   span{
       background-color: rgb(217, 220, 226);
       display: block;
       width: 400px;
       padding: 20px;
       margin: 40px;
       outline: 10px solid rgb(217, 220, 226);
       font-size: xx-large;

   }
   .e1{
       border-left:5px solid rgb(255, 0, 170)
   }
   .e2{
    border-left:5px solid rgb(255, 0, 170);
    visibility: hidden;
   }
   .e3{
    border-left:5px solid rgb(11, 148, 211)
}
.one {
    border-bottom: 2px solid red;
    color: red;
  }
  .two {
    border-bottom: 2px solid green;
    color: green;
  }
  .three {
    border-bottom: 2px solid blue;
    color: blue;
  }
  .four {
    border-bottom: 2px solid black;
    color: black;
  }
  .one,
  .two,
  .three,
  .four,
  .my-p {
    padding: 15px;
    margin: 12px 0;
    background-color: #ededed;
  }
